{% extends "Cogito/site_base.html" %} 

{% block title %}
Deliberate Living | {{ category|capfirst }}
{% endblock %}

{% block bodycenter %}
<!-- Full body of previous Posts 
  ----------------------------------------------->
<div id="postset">
{% block postset %} 
    {% for post in posts %}
      {% include 'Cogito/post_view.html' %}  
    {% endfor %} 
{% endblock %} 
</div>

<!-- Form to add new posts  
  ----------------------------------------------->
<div class="docs-section" id="sep1a">  
  <div class="changeblog" id="addform_button"><button class="addblog">Add</button></div>
  {% include "Cogito/blog_form.html" with form_id='add_form' type='create_post' %}
</div>

<div class="docs-section" id="sep2a"> 

</div>

{% endblock %}


{% block rightsidebar %} 
<!-- List of previous post titles  
  ----------------------------------------------->
<div id="content-related">
  <div class="module" id="recent-actions-module">
    <h2>Previous Posts</h2>  
    <ul class="actionlist">
    {% for post in posts %}
      <li> <a href="#post_{{ post.id }}">{{ post.title }}</a> <br/> </li>
    {% endfor %}
    </ul> 
  </div>
</div>

{% endblock %}