
<!DOCTYPE html> 
<html lang="en-us">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> {% block title %} Deliberate Living {% endblock %} </title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Chafamo">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'Cogito/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'Cogito/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'Cogito/css/base.css' %}">
  {% block extrastyles %} {% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'Cogito/img/favicon2.png' %}">

</head>
<body class="code-snippets-visible {% block extrabodyclass %} {% endblock %}">

  {% block body %} {% endblock %}
 
  <!-- Scripts --> 
  <script type="text/javascript" src="{% static 'External/js/jquery-1.11.3.min.js' %}" ></script>
  <script type="text/javascript" src="{% static 'Cogito/js/site.js' %}" ></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>    
  <script type="text/javascript" src="{% static 'Cogito/js/csrf_form_ajax.js' %}"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>  -->
  <!-- <script type="text/javascript" src="{% static 'External/js/bootstrap.min.js' %}" ></script> -->
  {% block extrascripts %} {% endblock %}


</body>
</html>