{% extends "Cogito/site_base.html" %} 

{% block breadcrums %}
<div class="breadcrums">
  <a href="{% url 'Cogito:home' %}">Deliberate Living</a> 
  &rsaquo; 
  <a href="{% url 'Cogito:profile' %}"> Profile </a> 
</div>
{% endblock %}

{% block leftsidebar %}
<nav class="leftsidebar">
  <!-- List of previous post titles  
  -----------------------------------------------> 
  <ul>
    <li><a href='#profile'>Account Details</a></li>
    <li><a href='#profile'>Personal Information</a></li>
    <li><a id='toggle_bookmarked' href="#post_{{ posts.0.id }}">&rsaquo; Bookmarked Entries</a>
      <ul id='bookmarked_entries' style='display: none;'>
      {% for post in posts %}
        <li> <a href="#post_{{ post.id }}">{{ post.title }}</a> <br/> </li>
      {% endfor %}
      </ul>  
    </li> 
  </ul>
  <svg class="toc-marker" width="200" height="200" xmins="http://www.w3.org/2000/svg">
    <path stroke="#444" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000"
    stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5,-0.5)" />
  </svg>
</nav>
{% endblock %}

{% block bodycenter %}
<!-- Full body of previous Posts 
  ----------------------------------------------->
<div id="postset" style='display: none;'>
{% block postset %} 
    {% for post in posts %}
      {% include 'Cogito/post_view.html' %}  
    {% endfor %} 
{% endblock %} 
</div> 
 

<div class="docs-section" id="sep2a">  </div>

{% endblock %}


{% block rightsidebar %}  

{% endblock %}