
<!DOCTYPE html> 
<html lang="en-us">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> {% block title %} HASA Alumni Association {% endblock %} </title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Chafamo">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/index.css' %}">
  {% block extrastyles %} {% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'ProfileDB/img/rhasa.png' %}">

</head>
<body class="code-snippets-visible {% block extrabodyclass %} {% endblock %}">

  {% block body %} 

  {% endblock %}
  
  {% block footer %}
  <footer>
     <!-- Footer  
    ----------------------------------------------->
    
    <div class="bottom_row">
      <div id="bottom_logo">
        <img src="../static/ProfileDB/img/download.png">
        HASA Alumni Association is a subsidiary of HASA and Harvard College.
      </div>
      <table id="ver-minimalist">
        <thead>
          <tr>
              <th>Site Links</th>
              <th>External Links</th>
              <th>Follow Us</th> 
          </tr>
        </thead>
        <tbody> 
          <tr> 
            <td> Alumni directory </td> 
            <td> Harvard main site</td>  
            <td> Facebook </td>  
          </tr> 
          <tr> 
            <td> In depth alumni profiles  </td> 
            <td> HASA main site </td> 
            <td> Instagram </td>   
          </tr> 
          <tr> 
            <td> Career resources </td> 
            <td> Harvard Alumni main site </td>  
            <td>  </td>  
          </tr> 
          <tr> 
            <td> About us </td> 
            <td> Crimson Careers </td>  
            <td>  </td>  
          </tr>   
        </tbody>
      </table>
      <div class="copyright">
        &copy; 2018 Harvard African Alumni Association
      </div>
    </div>
  </footer>
  {% endblock %}

  <!-- Scripts --> 
  <!-- <script type="text/javascript" src="{% static 'External/js/jquery-1.11.3.min.js' %}" ></script> -->
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>    
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>  
  <script type="text/javascript" src="{% static 'ProfileDB/js/csrf_form_ajax.js' %}"></script>
  <!-- <script type="text/javascript" src="{% static 'External/js/bootstrap.min.js' %}" ></script> -->
  {% block extrascripts %} {% endblock %}


</body>
</html>