
<!DOCTYPE html> 
<html lang="en-us">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title> {% block title %} HASA Alumni Association {% endblock %} </title>
  <meta name="description" content="">
  <meta name="author" content="Daniel Chafamo">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'ProfileDB/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/base.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'ProfileDB/css/index.css' %}">
  {% block extrastyles %} {% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'ProfileDB/img/favicon2.png' %}">

</head>
<body class="code-snippets-visible {% block extrabodyclass %} {% endblock %}">

  {% block body %} 

  {% endblock %}
  
  {% block footer %}
  <footer>
     <!-- Footer  
    ----------------------------------------------->
    <div class="bottom_row">
      <code> Daniel Chafamo | 2018</code>
    </div>
  </footer>
  {% endblock %}

  <!-- Scripts --> 
  <script type="text/javascript" src="{% static 'External/js/jquery-1.11.3.min.js' %}" ></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>    
  <script type="text/javascript" src="{% static 'ProfileDB/js/csrf_form_ajax.js' %}"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>  -->
  <!-- <script type="text/javascript" src="{% static 'External/js/bootstrap.min.js' %}" ></script> -->
  {% block extrascripts %} {% endblock %}


</body>
</html>