{% extends "ProfileDB/head_base.html" %} 

{% block extrastyles %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'ProfileDB/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'ProfileDB/css/fonts.css' %}">
{% endblock %}


{% block body %}  
<div class="top_row">
  <i class="fa fa-envelope-o" aria-hidden="true"></i> hasa@harvard.edu 
  <i class="fa fa-phone" aria-hidden="true"></i> 857 253 9410
  <div class="logup">
    {% if user.is_authenticated %}
      <a id="welcome"> WELCOME, {{ user.first_name|upper }} </a>
      <a href="{% url 'ProfileDB:profile' %}"> My Profile </a> 
      <a href="{% url 'ProfileDB:logout' %}"> Log out </a>
    {% else %}  
      <a href="{% url 'ProfileDB:login' %}"> Log in </a>
      <a href="{% url 'ProfileDB:SignUp' %}"> Sign up </a>
    {% endif %}
  </div>
</div>

 
<!-- Navigation bar 
  ----------------------------------------------->
<div class="navbar-spacer" id="pagetop"></div>

<nav class="navbar">
   <!-- Main Page Title
    ----------------------------------------------->
 
  <div class="container navcont"> 

    <ul class="navbar-list">
    {% for direc in site_struct %}  
      {% if direc.1|length == 1 %}
        {% if direc.0 == 'Logo' %}
        <li class="navbar-item">
          <a class="navbar-link navlogo button active" href="{% url 'ProfileDB:home' %}">
            <img class="logo" src="../static/ProfileDB/img/download.png">
            HASA Alumni <br> Association
          </a>
        </li>
        {% else %}
        <li class="navbar-item">
          {% with "ProfileDB:"|add:direc.1.0 as cur_url %} 
            <a class="navbar-link button {% if category == direc.1.0%} active {% endif %}" 
               href="{% url cur_url %}"> <p>{{ direc.0 }}</p> </a> 
          {% endwith %}
        </li>
        {% endif %}
      {% else %} 
        <li class="navbar-item">
          <a class="navbar-link button {% if category in direc.1 %} active {% endif %}" 
             href="#" data-popover="#codeNavPopover{{ forloop.counter }}">
              <p>{{ direc.0 }} &#x2C5; <p> </a>
          <div id="codeNavPopover{{ forloop.counter }}" class="popover">
            <ul class="popover-list">
              {% for page in direc.1 %}
                <li class="popover-item">
                  {% with "ProfileDB:"|add:page as cur_url %}
                    <a class="popover-link" href="{% url cur_url %}"> 
                    <p> {{ page }} </p> </a> </li> 
                  {% endwith %}
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endif %}
    {% endfor %}  
    </ul>
  </div>
</nav> 

{% block blackboard %} 
{% include 'ProfileDB/slideshow.html' %}   
{% endblock %}

{% block breadcrums %}
<div class="breadcrums">
  <a href="{% url 'ProfileDB:home' %}">HASA Alumni Association</a> 
  {% for direc in site_struct %} 
    {% if direc.1|length == 1 and direc.1.0 == category %}
      &rsaquo; 
      {% with "ProfileDB:"|add:direc.1.0 as cur_url %} 
        <a href="{% url cur_url %}"> {{ direc.1.0| capfirst }} </a>
      {% endwith %}
    {% else %}
      {% if category in direc.1 %} 
        &rsaquo; 
        {% with "ProfileDB:"|add:direc.0 as cur_url %} 
          <a> {{ direc.0| capfirst }} </a>
        {% endwith %}
      {% endif %}
      {% for page in direc.1 %} 
        {% if page == category %}
          &rsaquo; 
          {% with "ProfileDB:"|add:page as cur_url %}
            <a href="{% url cur_url %}"> {{ page|capfirst }} </a>  
          {% endwith %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %} 
</div>
{% endblock %}


<div class="row"> 
  <div class="three columns" style="margin-top: 2%">
    {% block leftsidebar %}
    <div class="pagecrums">
      
    </div>
    {% endblock %}

  </div>
  
  {% block bodycenter %}
  {% endblock %} 


  <!-- Sidebar 
    ----------------------------------------------->
  <div class="three columns sidebar"> 
  
    {% block rightsidebar %}  
    {% endblock %}

  </div>
  

</div>
{% endblock %}


{% block extrascripts %}   
<script>  
//  var liked = {{ liked|safe }};
//      bookmarked = {{ bookmarked|safe }};
//      created = {{ created|safe }};  

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js" ></script>
<script type="text/javascript" src="{% static 'ProfileDB/js/site.js' %}" ></script>
{% endblock %}

