{% extends "Cogito/site_base.html" %} 

{% block title %} Log In {% endblock %} 

{% block extrastyles %}
{% load staticfiles %}
<!-- <link rel="stylesheet" href="{% static 'Cogito/css/base.css' %}">  -->
<link rel="stylesheet" href="{% static 'Cogito/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'Cogito/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'Cogito/css/login.css' %}">

{% endblock %}

{% block extrabodyclass %} login {% endblock %}

{% block bodycenter %}  

<div id="container">
  
  <div id="content" class="colM">
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %} 
          Please correct the error below. 
        {% else %} 
          Please correct the errors below. 
        {% endif %}
      </p>
    {% endif %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="errornote"> {{ error }} </p>
      {% endfor %}
    {% endif %}

    <div id="content-main">

    <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
      <div class="form-row">
        {{ form.username.errors }}
        {{ form.username.label_tag }} {{ form.username }}
      </div>
      <div class="form-row">
        {{ form.password.errors }}
        {{ form.password.label_tag }} {{ form.password }}
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      {% url 'admin_password_reset' as password_reset_url %} 
      <div class="submit-row">
        <input class="button-primary" type="submit" value="Log in" />
      </div>
    </form>

    </div>
  </div>
</div>
{% endblock %}


{% block extrascripts %} 

{% endblock %}

