{% extends "Cogito/site_base.html" %} 

{% block title %} Deliberate Living | Sign Up {% endblock %} 

{% block extrastyles %}
{% load staticfiles %} 
<link rel="stylesheet" href="{% static 'Cogito/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'Cogito/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'Cogito/css/login.css' %}">

{% endblock %}

{% block extrabodyclass %} login {% endblock %}

{% block bodycenter %}  

<div id="container"> 
  <h4 id='logo_title'> Deliberate Living </h4> 
  <div id="content" class="colM">
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %} 
          Please correct the error below. 
        {% else %} 
          Please correct the errors below. 
        {% endif %}
      </p>
    {% endif %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="errornote"> {{ error }} </p>
      {% endfor %}
    {% endif %}

    <div id="content-main">

    <form method="POST" class="post-form" id="login-form">{% csrf_token %}
      <div class="aligned"> 
       <!--  <div class="form-row">
          {{ form.first_name.errors }}
          {{ form.first_name.label_tag }} {{ form.first_name }} 
        </div>
        <div class="form-row">
          {{ form.last_name.errors }}
          {{ form.last_name.label_tag }} {{ form.last_name }} 
        </div> -->
        <div class="form-row">
          {{ form.username.errors }}
          {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
          {{ form.password1.errors }}
          {{ form.password1.label_tag }} {{ form.password1 }} 
        </div>
        <div class="form-row">
          {{ form.password2.errors }}
          {{ form.password2.label_tag }} {{ form.password2 }} 
        </div>
        <div class="form-row">
          {{ form.email.errors }}
          {{ form.email.label_tag }} {{ form.email }} 
        </div>
      </div>
      <div class="submit-row">
        <input class="button-primary" type="submit" value="Sign Up" />
      </div>
    </form>

    </div>
  </div>
</div>
{% endblock %}


{% block extrascripts %} 

{% endblock %}

