{% extends "ProfileDB/site_base.html" %} 

{% block title %} Log In {% endblock %} 

{% block extrastyles %}
{% load staticfiles %}
<!-- <link rel="stylesheet" href="{% static 'ProfileDB/css/base.css' %}">  -->
<link rel="stylesheet" href="{% static 'ProfileDB/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'ProfileDB/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'ProfileDB/css/login.css' %}">

{% endblock %}

{% block extrabodyclass %} login {% endblock %}

{% block bodycenter %}  
<div>
  Please confirm your email address to complete registration.
</div>
{% endblock %}


{% block extrascripts %} 

{% endblock %}

