{% extends "ProfileDB/site_base.html" %} 

{% block title %} HASA Alumni Association | Log In {% endblock %} 

{% block extrastyles %}
{% load staticfiles %} 
<link rel="stylesheet" href="{% static 'ProfileDB/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'ProfileDB/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'ProfileDB/css/login.css' %}">

{% endblock %}

{% block extrabodyclass %} login {% endblock %}

{% block bodycenter %}  

<div id="container"> 
  <h4 id='logo_title'> HASA Alumni Association </h4>
  <!-- <div id="notice"> 
    Please enter your username and password to continue. 
  </div> -->
  <div id="content" class="colM">
    {% if form.errors and not form.non_field_errors %}
      <p class="errornote">
        {% if form.errors.items|length == 1 %} 
          Please correct the error below. 
        {% else %} 
          Please correct the errors below. 
        {% endif %}
      </p>
    {% endif %}

    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <p class="errornote"> {{ error }} </p>
      {% endfor %}
    {% endif %}

    <div id="content-main">

    <form action="{{ app_path }}" class="post-form" method="post" id="login-form">{% csrf_token %}
      <div class="aligned"> 
        <div class="form-row">
          {{ form.username.errors }}
          {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
          {{ form.password.errors }}
          {{ form.password.label_tag }} {{ form.password }}
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>
      <!-- {% url 'admin_password_reset' as password_reset_url %}  -->
      <div class="submit-row">
        <input class="button-primary" type="submit" value="Log in" />
      </div>
    </form>
    <div id="signup_portal">
      Don't have an account? <a href="{% url 'ProfileDB:SignUp' %}"> Sign Up </a>
    </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extrascripts %} 
<script>
  $('.login .form-row input').focus(function() {
    console.log('focused');
    $(this).parents('.form-row').addClass('focused');
  })

  $('.login .form-row input').blur(function() {
    console.log('blurred');
    var inputValue = $(this).val();
    if (inputValue == "") {
      $(this).removeClass('filled');
      $(this).parents('.form-row').removeClass('focused');
    } else {
      $(this).addClass('filled');
    }
  })
</script>
{% endblock %}

