.breadcrums {
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  background: white;
  border-top: 1px solid #953634;
  padding-left: 2%;
  box-shadow: -1px -2px 1px 0 rgba(0,0,0,0.12), inset 0px 0px 0 0 #dadce0;
}

.bodynav .search-container {
  float: right; 
}

.bodynav .search-container input { 
  border-radius: 0;
  width: 250px;
}

.bodynav .search-container button { 
  padding: 0 20px;
  margin-left: -5px;
  border-left: 0;
  border-radius: 0;
  color: white;
  background: #953634;
}

.bodynav .search-container button:hover {
  background: #5f1f1d;
}

.directory_table {
  width: 100%;
  margin-top: 5%;
}

#postset {
  padding: 0 5%;
}

.outlinks {
  text-align: center;
}

.value-prop {
  margin-top: 1rem; 
}

.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; 
}

.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; 
}

.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
}

.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; 
}

.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; 
}

.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; 
}

.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; 
}

.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; 
}

.navbar {
  display: none; 
}


/* Larger than phone */
@media (min-width: 550px) {
  .header {
    margin-top: 10rem; 
  }

  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; 
  }

  .value-img {
    margin-bottom: 1rem; 
  }

  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; 
  }

  .docs-section {
    padding: 5rem 0; 
  }

  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; 
  }

  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; 
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; 
  }


  .navbar,
  .navbar-spacer {
    position: fixed;
    width: 100%; 
    margin-top: 25px; 
    display: block; 
    height: 4.1rem;  
    background: white;
    border-bottom: 1px solid #953634; 
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
    z-index: 10;  
  }

  .navbar-spacer {
    display: none; 
  }

  .navbar > .container {
    width: 100%; 
    margin-left: 25%;
  }

  .navbar-list {
    list-style: none;
    margin-bottom: 0;  
  }

  .navbar-item {
    min-width: 67px;
    position: relative;
    float: left;
    margin-bottom: 0;   
    text-align: center;
  }

  .navbar-link {
    color: #953634 !important; 
    font-weight: 100;
    width: 120px; 
    border: none; 
    height: 35px;
  }

  .navbar-link:focus p {   
    border-bottom: 2px solid orchid;
  }

  .navbar-link:hover p {  
    border-bottom: 2px solid orchid;
  }

  .navbar-link.active p {  
    border-bottom: 2px solid orchid;
  }
  
  .navbar-link.active { 
    /*color: white !important;
    background: #953634;
    border: 1px solid #953634;
    height: 38px; */
  }

  .has-docked-crum .breadcrums {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: -1;
  }

  .has-docked-crum #postset {
    margin-top: 25px;
  }

  .has-docked-crum .leftsidebar {
    position: fixed;
    top: 80px;
    left: -7.8%;
    width: inherit;
  }

  .navbar p {
    padding-top: 10px;
  }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;  
    top: 32%;
    left: 0%; 
    z-index: 99;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
  }

  .popover-list {
    background: white;
    width: 118px;
    padding: 0;
    margin: 0;
    list-style: none; 
    border: 1px solid #953634;
    border-top: none;
  }

  .popover-item {
    padding: 0;
    margin: 0; 
  }

  .popover-link {
    position: relative; 
    display: block;
    padding: 2px 15px; 
    border-top: 1px solid #ddd;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; 
  }

  .popover-link:hover p {
    /*border-bottom: 2px solid orchid;*/
  }



}